* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ccc;
    width: 95%;
    margin: auto;
}

#body {
    background-color: #e9e9e9;
    width: 100%;
}

header {
    display: flex;
    background-color: #545b61;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#logo {
    display: flex;
    margin-left: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

#logo h1{
    color: #fff;
    font-size: 60px;
    justify-content: center;
}

#logo img{
    order: -1;
}

#navegador {
    display: flex;
    background-color: rgb(131, 129, 129);
    border-style: solid black;
    border-radius: 20px;
    width: 40%;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
}

#principal {
    background-color: rgb(241, 243, 130);
    color: black;
    border-radius: 10px;
    font-size-adjust: inherit;
    width: 30%;
    text-align: center;
    text-decoration: none;
}

#principal:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

#cervezas {
    background-color: rgb(245, 191, 91);
    color: black;
    font-size-adjust: inherit;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

#cervezas:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

#favoritos {
    background-color: rgb(38, 170, 231);
    color: black;
    font-size-adjust: inherit;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

#favoritos:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

#nosotros {
    background-color: rgb(15, 224, 15);
    color: black;
    font-size-adjust: inherit;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

#nosotros:hover {
    transform: scale(1.05);
    text-decoration: underline;
}


aside {
    background-color: #e67e22;
    padding: 20px;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

aside .widget {
    display: flex;
    background: #d35400;
    height: 200px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.mainNos {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 800px;
}
#superior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: lightskyblue;
}

#nosArticle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightskyblue
}

#historiaTitulo {
    background-color: lightskyblue;
    width: 20%;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    margin-top: 2%;
}
#historia {
    background-color: lightskyblue;
    width: 90%;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 2%;
}


#inferior {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightgray;
    justify-content: space-between;
}

#datosContacto {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

h3 {
    width: 100%;
    font-size: 24px;
    padding: 10px; 
    text-align: center;   
    margin-bottom: 5px;
}

#correoElectronico {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    justify-content: space-between;
    align-items: center;
}

#email {
    width: 80%;
    height: auto;
    padding: 5px;
}

#correo {
    margin-left: 2%;
    width: 20%;
    height: auto;
    padding: 5px;
    text-align: left;
}

#nombreApellidos {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

#nombre {
    margin-left: 2%;
    width: 20%;
    height: auto;
    padding: 5px;
    text-align: left;
}

#nombreCompleto {
    width: 80%;
    height: auto;
    padding: 5px;
}

#asunto {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

#etiqueta {
    width: 20%;
    margin-left: 3%;
    text-align: left;
}

#asuntoEs {
    width: 80%;
    height: auto;
    padding: 5px;
}

#campoTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

#enviar {
    width: 20%;
    height: 10%;
    padding: 2%;
    margin-left: auto;
}

#descripcion {
    width: 95%;
    margin-left: 5%;
}

#imagenNos {
    width: 50%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoNos{
    width: 80%;
    }


#lateral {   
    text-align: center;
}

#lateral h4 {
    font-size: 22px;
}

#lateral p {
    font-size: 18px;
    text-align: justify;
    padding: 5px;
}

#imagenFut {
    margin-top: 30px;
    width: 100%;
}

#fotoFut {
    margin-left: 20px;
    box-sizing: border-box;
    border-image: streatch;
    padding: 5px;
    width: 90%;
    height: auto;
}


footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #2c3e50;
    width: 100%;
    padding: 20px;
}

#inicio {
    margin-right: auto;
    margin-left: 10px;
    color: white;
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 5px;
    width: 20%;
}


#enlaceGoogle {
    color: white;
}
#enlaceFaceBook {
    color: white;
}
#enlaceTweeter {
    color: white;
}
#enlaceInstagram {
    color: white;
}

@media screen and (max-width: 1000px) {

    .contenedor {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    header .logo {
        margin: 20px 0;
    }

    header nav {
        width: 100%;
    }

    .mainNos {
        width: 100%;
        height: auto;
    }

    #superior {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


    #inferior {
        display: flex;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #datosContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        box-sizing: border-box;
    }

    #correoElectronico {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    #email {
        width: 80%;
        min-width: 50%;
        padding: 5px;
        margin-left: 5;
    }
    
    #correo {
        width: 15%;
        min-width: 10%;
        margin: 0;
        padding: 5px;
    }
    
    #nombreApellidos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    #nombreCompleto {
        width: 80%;
        min-width: 50%;
        padding: 5px;
        margin-left: 5;
    }
    
    #nombre {
        width: 15%;
        min-width: 10%;
        margin: 0;
        padding: 5px;
    }
    
    #asunto {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    #asuntoEs {
        width: 80%;
        min-width: 50%;
        padding: 5px;
        margin-left: 5;
    }
    
    #etiqueta {
        width: 15%;
        min-width: 10%;
        margin: 0;
        padding: 5px;
    }

    #campoTexto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #descripcion {
        width: 70%;

    }
    
    #enviar {
        width: 15%;
        padding: 5px;
    }

    #imagenNos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    #fotoNos {
        padding: 5%;
        margin-bottom: 40px;
        width: 90%;
        min-width: 40%;
        margin-left: 3%;   
    }
}

@media screen and (max-width: 600px) {
 
    .contenedor {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    header .logo {
        margin: 20px 0;
    }

    header nav {
        width: 100%;
    }

    .mainNos {
        width: 100%;
        height: auto;
    }

    #superior {
        flex-direction: column;
    }


    #inferior {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #datosContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    #datosContacto h3 {
        width: 50%;
        margin-left: 10%;
    }

    #correoElectronico {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #email {
        width: 90%;
        min-width: 60%;
        padding: 5px;
        margin-left: 10px;
    }
    
    #correo {
        width: 90%;
        min-width: 60%;
        margin-left: 10px;
        text-align: left;
        padding: 5px;
    }
    
    #nombreApellidos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #nombreCompleto {
        width: 90%;
        min-width: 60%;
        padding: 5px;
        margin-left: 10px;
    }
    
    #nombre {
        width: 90%;
        min-width: 60%;
        margin-left: 10px;
        text-align: left;
        padding: 5px;
    }
    
    #asunto {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #asuntoEs {
        width: 90%;
        min-width: 60%;
        padding: 5px;
        margin: 0;
    }
    
    #etiqueta {
        width: 90%;
        min-width: 60%;
        margin-left: 10px;
        text-align: left;
        padding: 5px;
    }

    #campoTexto {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #descripcion {
        width: 90%;
        min-width: 60%;
        padding: 5px;
        margin: 5%;
    }
    
    #enviar {
        width: 15%;
        min-width: 10%;
        height: 30px;
        padding: 5px;
        margin-top: 5%;
        margin-right: 5%;
    }

    #imagenNos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    #fotoNos {
        padding: 5%;
        margin-bottom: 40px;
        width: 90%;
        min-width: 40%;
        margin-left: 3%;
    }
}


