    /*mystyle.css*/
        .encabezamiento {
            color:red;
        }
        .cuerpo {
            background-color: green;
        }
        .pie {
            color:violet;
        }
      
