
#contenedor {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    height: 300px;
    
}


#barraMenu {
    margin-top: 20px;
    margin-left: 20px;
}


#cerveza {
    margin-top: 50px;
    margin-left: 20px;
}